<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--Islamic Finder Test Suites-->
<suite name="Regression Suite">

    <test name = "Prayer Times">
        <classes>
            <class name="Testcases.prayerTimesTest">
                <methods>
                    <include name="matchingPrayerTimesForNewYork"/>
                    <include name="verifyAsrTimeChangeAccToJuristicMethod"/>
                    <include name="sharePrayerTimes"/>
                    <include name="prayerAdjustment"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
